* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.hero-section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/static/images/money-banks-sri-lanka-rupee-banknote-1200.jpg') center/cover no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.hero-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #2c2c2c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.hero-button:hover {
    background-color: #fd0000;
}

.main-content {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-top: -80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h2 {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin: 15px 0;
    text-align: left;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.result, .error {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
}

.result {
    background-color: #e8f5e9;
    color: #388e3c;
}

.error {
    background-color: #fbe9e7;
    color: #d32f2f;
}

.error-message {
    color: #d32f2f;
    font-size: 14px;
    display: none;
    margin-top: 10px;
}

.features {
    margin-top: 40px;
    text-align: center;
}

.features h2 {
    color: #4CAF50;
    margin-bottom: 20px;
}

.feature-item {
    margin: 20px 0;
}

.feature-item h3 {
    color: #333;
    font-size: 1.25rem;
}

.feature-item p {
    color: #555;
}
